@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
  color: black;
  outline: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

button {
  background: none;
}

.btn, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, a:link, a:hover, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none !important;
}

#buttontothetop {
  display: inline-block;
  background: #612B8B;
  width: 55px;
  height: 55px;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 0px 4px 14px rgba(67, 0, 98, 0.15);
}

#buttontothetop::after {
  content: "↑";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#buttontothetop:hover {
  cursor: pointer;
  background: #00AAFF;
}

#buttontothetop:active {
  background: #0087cb;
}

#buttontothetop.show {
  opacity: 1;
  visibility: visible;
}

h2 {
  font-size: 3vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.8vw;
  text-transform: uppercase;
  color: #2c7bda;
  font-family: "oswald";
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-left: 2%;
  font-family: "oswald";
  color: #f4b400;
  font-size: 2.5vw;
  font-weight: 500;
}

.h3-title {
  display: flex;
  align-items: center;
  padding: 1vw 0;
}

h4 {
  font-size: 1.5vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "oswald";
  color: #f4b400;
}

.body {
  line-height: 150%;
  background: url("../img/bg-2.jpg");
  /* Full height */
  width: 100%;
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "arimo";
  font-weight: 500;
  font-size: 1.2vw;
  color: black;
  width: 100%;
}

header {
  box-shadow: 0px 2px 10px 0px rgba(135, 135, 135, 0.46);
}

.menu-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  width: 100%;
  padding: 0.5vw 1vw;
}

.container-main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%;
  padding: 0 0 3vw 0;
}

.container-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%;
  padding: 2vw 0;
}

.container-infographic {
  padding: 1.5vw 0;
  background-color: rgba(255, 237, 215, 0.4);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.menu__logo img {
  width: 25vw;
}
.menu__unit {
  display: inline-flex;
  align-items: baseline;
}
.menu__unit a {
  color: #184377;
  font-weight: 600;
}
.menu__unit a:hover {
  color: #2c7bda;
}
.menu__unit li {
  margin: 0 1vw;
}
.menu__lang {
  text-align: right;
  text-transform: uppercase;
}

.btn-head {
  background-color: #f7c011;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  text-transform: uppercase;
}

.footer {
  margin-top: 5vw;
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 15px 0px rgb(89, 89, 89);
  font-size: 1vw;
}
.footer__body {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}
.footer__logo img {
  width: 30vw;
}
.footer__contacts img {
  width: 1.5vw;
  margin-right: 0.8vw;
}
.footer__contacts li {
  padding: 0 0 0.5vw 0;
  display: flex;
  align-items: center;
}
.footer__contacts a:hover {
  color: #2c7bda;
}

.photo {
  overflow: hidden;
}

.carousel {
  height: 35vw;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}
.carousel_title {
  display: flex;
  min-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 5vw;
  font-family: "oswald";
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-item {
  height: 35vw;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}

.headincl {
  height: 100px;
}

.body-title {
  display: flex;
  align-items: center;
  margin: 3vw 0 3vw 5vw;
}
.h2_img,
.h3_img {
  width: 5vw;
}

.about-main__body_text {
  margin-top: 3vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about-main__body a {
  color: #2c7bda;
  font-size: 1.3vw;
  font-weight: 600;
}
.about-main__body a:hover {
  color: #f4b400;
}

.btn1 {
  background-color: #f7c011;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  text-transform: uppercase;
}

.btn-head {
  background-color: #f7c011;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  text-transform: uppercase;
}

.forwhom-main__body {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.forwhom-main__body h3 {
  color: #2c7bda;
}
.forwhom-main__body img {
  width: 10vw;
}
.forwhom-item {
  text-align: center;
}

.odesaoblast__body {
  width: 100%;
}
.infographic_description {
  margin-top: 2vw;
}

.top-block {
  display: flex;
  justify-content: space-around;
  margin: 3vw 0;
  width: 100%;
}
.top-block_item {
  width: 30%;
  display: inline-block;
  margin: 0 3vw;
  text-align: center;
  justify-content: center;
}

.number {
  font-family: "Oswald";
  font-size: 5vw;
  color: #2c7bda;
  font-weight: 600;
  display: flex;
  align-items: end;
  justify-content: center;
}

.description {
  padding-top: 2.5vw;
  line-height: 100%;
}

.number-min {
  font-size: 3vw;
}

.about-page__top {
  display: block;
}
.about-page__top_img {
  display: flex;
}
.about-page__top_img img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.about-page__top_text {
  margin-top: 5vw;
}
.about-page__top_text P {
  width: 80%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.about-page__misia {
  display: flex;
  margin: 7vw 0 0 0;
}
.about-page__misia_text {
  margin-top: 3vw;
}
.about-page__misia_text P {
  text-align: justify;
}
.about-page__misia_img {
  width: 50vw;
}
.about-page__misia_img img {
  align-items: end;
  width: 100%;
}
.about-page__perevagy_unit {
  padding-left: 8vw;
}
.about-page__perevagy_unit li::before {
  content: "";
  background: url("../img/Check-Mark.svg") no-repeat;
  width: 15px;
  height: 15px;
  transform: scale(1.5);
  display: inline-block;
  margin-right: 0.7vw;
  vertical-align: middle;
}
.about-page__perevagy_item {
  padding-bottom: 1vw;
}

.do__unit {
  padding-left: 8vw;
  display: flex;
  padding-bottom: 2vw;
  width: 85%;
  text-align: justify;
}
.do__unit_title {
  font-family: "oswald";
  font-weight: 600;
  font-size: 2vw;
  color: #f7c011;
}
.forwhom-page {
  width: 100%;
}
.forwhom-page__title {
  display: flex;
  align-items: center;
  margin: 3vw 0 3vw 5vw;
}
.forwhom-page__top-unit-img {
  width: 15vw;
}
.forwhom-page__unit {
  display: flex;
  justify-content: space-between;
}
.forwhom-page__unit_L {
  width: 30%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.forwhom-page__unit_R {
  width: 60%;
}
.forwhom-page__unit_item {
  padding-bottom: 2vw;
}
.forwhom-page__unit_item h4 {
  padding-bottom: 1.5vw;
}
.forwhom-page__unit_item li {
  padding-bottom: 0.5vw;
}
.forwhom-page__unit_item li p {
  margin-left: 3vw;
  padding: 0.2vw 0;
}
.forwhom-page__unit_item li::before {
  content: "";
  background: url("../img/Check-Mark.svg") no-repeat;
  width: 1.5vw;
  height: 1.5vw;
  display: inline-block;
  margin-right: 0.7vw;
  vertical-align: middle;
}

.contacts__forma {
  width: 100%;
}
.contacts__body {
  width: 100%;
}
.contacts__body_text {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
}
.contacts__body_text div {
  width: 50%;
}
.contacts__body_text li {
  padding: 0 0 2vw 0;
}
.contacts__body_text li img {
  width: 2vw;
  margin-right: 0.5vw;
}
.team__body {
  width: 100%;
}
.team__unit_item-img {
  padding: 3vw 3vw 1vw 3vw;
}
.team__unit_item-img img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.team__unit_item-title {
  font-family: "oswald";
  font-size: 1.7vw;
  padding-bottom: 0.7vw;
  color: #2c7bda;
}
.soon {
  padding: 2vw 0;
  font-size: 2vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.soon div {
  padding-bottom: 2vw;
}

@media screen and (max-width: 600px) {
  .menu-container {
    display: none;
  }
}

.menu-mobile__header_body {
  display: flex;
  margin: 5vw auto;
  align-items: center;
  max-width: 80%;
  width: 100%;
  overflow: hidden;
}
.menu-mobile__header_logo img {
  width: 100%;
}
.menu-mobile__header_btn {
  width: 70%;
}
@media screen and (min-width: 600px) {
  .menu-mobile__header_body {
    display: none;
  }
}
.menu-mobile__header .show {
  display: block;
}

.menu-mobile__open_body {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #2c7bda;
}
.menu-mobile__open_body.show {
  display: block;
  z-index: 100;
}
.menu-mobile__open_body .close {
  display: none;
}
.menu-mobile__open_title-group {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vw;
  align-items: center;
}
.menu-mobile__open_btn-close {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
}
.menu-mobile__open_title {
  line-height: 150%;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 7vw;
  font-weight: 600;
  color: #f4b400;
  text-transform: uppercase;
}
.menu-mobile__open_title img {
  width: 100%;
}
.menu-mobile__open_list {
  font-family: "oswald";
  font-weight: 400;
  font-size: 7vw;
  padding: 10px 10vw;
}
.menu-mobile__open_list li {
  padding: 4vw 0;
  color: white;
}

.mobile-menu-exit {
  max-width: 40px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  header {
    box-shadow: none;
  }
  .body {
    font-size: 5vw;
  }
  .container-main {
    max-width: 90%;
    width: 100%;
    padding: 0;
  }
  .body-title {
    margin: 8vw 0;
  }
  .h2_img {
    width: 15vw;
  }
  h2 {
    font-size: 9vw;
    margin-left: 1.5vw;
    line-height: 120%;
  }
  .about-main__body_text {
    width: 90%;
    margin-top: 4vw;
  }
  .about-main__body_text a {
    color: #2c7bda;
    font-size: 5vw;
    font-weight: 600;
  }
  .forwhom-main {
    display: none;
  }
  h3 {
    font-size: 7vw;
    margin-left: 2%;
    text-align: left;
  }
  .h3-title {
    padding: 6vw 0;
  }
  .h3_img {
    width: 12vw;
  }
  .top-block {
    margin: 6vw 0;
  }
  .number {
    font-size: 12vw;
    line-height: 100%;
    color: #2c7bda;
  }
  .number-min {
    line-height: 100%;
  }
  .description {
    font-size: 4vw;
    line-height: 100%;
    padding-top: 2vw;
  }
  .infographic_description {
    font-size: 4vw;
    line-height: 100%;
  }
  .footer {
    margin-top: 10vw;
    font-size: 4vw;
  }
  .footer__body {
    display: block;
  }
  .footer__logo {
    display: block;
    text-align: center;
    padding: 2vw 0;
  }
  .footer__logo img {
    width: 90%;
  }
  .footer__contacts img {
    width: 6vw;
    margin-right: 1.5vw;
  }
  .contacts__body_text {
    display: block;
  }
  .contacts__body_text div {
    width: 100%;
  }
  .contacts__body_text ul {
    padding-bottom: 5vw;
  }
  .contacts__body_text li img {
    width: 6vw;
    margin-right: 1.5vw;
  }
  .forwhom-page__unit {
    display: block;
  }
  .forwhom-page__unit_item {
    padding-bottom: 4.5vw;
  }
  .forwhom-page__unit_item li::before {
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;
  }
  .forwhom-page__unit_item li {
    padding-bottom: 2vw;
  }
  .forwhom-page__unit_L {
    display: none;
  }
  .forwhom-page__unit_R {
    width: 100%;
  }
  .forwhom-page h4 {
    font-size: 5vw;
  }
  .team__unit {
    margin-bottom: 7vw;
  }
  .team__unit_item-description {
    line-height: 100%;
  }
  .team__unit_item-title {
    font-size: 6vw;
  }
  .team__unit .about-page__top_img {
    display: none;
  }
  .team__unit .about-page__top_img img {
    width: 90%;
  }
  .team__unit .about-page__top_text {
    margin-top: 0;
  }
  .team__unit .about-page__misia {
    text-align: justify;
    margin: 0;
  }
  .team__unit .about-page__misia_img {
    display: none;
  }
  .do__unit {
    padding-left: 2vw;
    width: 100%;
  }
  .do__unit_title {
    font-size: 7vw;
  }
  .about-page__perevagy_unit {
    padding-left: 2vw;
  }
  .about-page__perevagy_unit li::before {
    margin-right: 1.5vw;
  }
  .about-page__perevagy_item {
    padding-bottom: 2vw;
  }
  .about-page__top_text P {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */