// @font-face {
//     font-family: "Bitter";
//     src: url("/fonts/Bitter-Light.ttf") format("ttf");
//     font-weight: 300;
//    }
//    @font-face {
//     font-family: "Bitter";
//     src: url("/fonts/Bitter-Regular.ttf") format("ttf");
//     font-weight: 400;
//    }
//     @font-face {
//     font-family: "Bitter";
//     src: url("/fonts/Bitter-Medium.ttf") format("ttf");
//     font-weight: 500;
//    }
//    @font-face {
//     font-family: "Bitter";
//     src: url("/fonts/Bitter-Bold.ttf") format("ttf");
//     font-weight: 700;
//    }
   
   @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-SemiBold.ttf") format("ttf");
    font-weight: 600;
   }
   @font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Medium.ttf") format("ttf");
    font-weight: 500;
   }
   @font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.ttf") format("ttf");
    font-weight: 400;
   }
   @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-Light.ttf") format("ttf");
    font-weight: 300;
   }
   @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-Regular.ttf") format("ttf");
    font-weight: 400;
   }
    @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-Medium.ttf") format("ttf");
    font-weight: 500;
   }
   @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-Bold.ttf") format("ttf");
    font-weight: 700;
   }